<template>
  <div id="app">
    <div>
      <b-navbar type="dark" variant="info">
        <b-navbar-brand href="/">Budka</b-navbar-brand>
        <b-navbar-brand href="/model">Model</b-navbar-brand>
        <b-navbar-brand href="/transactions">Transactions</b-navbar-brand>
        <b-navbar-brand @click="train">Train</b-navbar-brand>
      </b-navbar>
    </div>
    <div id="container">
      <router-view />
    </div>
  </div>
</template>


<script>
export default {
  name: "App",
  methods: {
    async train() {
      await axios
        .post("http://localhost:5000/train")
        .then((response) => {
          this.result = response.data;
        })
        .catch((error) => console.log(error));
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#container {
  margin: auto;
  max-width: 70%;
}
</style>
