<template>
  <div class="m-5">
    <b-form @submit.prevent="predict" class="row">
      <b-form-file
        v-model="file"
        placeholder="file"
        class="col-10"
      ></b-form-file>
      <b-button class="col-1 ml-5" type="submit" variant="success"
        >upload</b-button
      >
    </b-form>
    <b-table stacked v-show="result.length" class="mt-5" :items="result" />
    <mdb-container>
      <mdb-bar-chart
        :data="barChartData"
        :options="barChartOptions"
        :width="1000"
        :height="500"
      ></mdb-bar-chart>
    </mdb-container>
  </div>
</template>
<script>
import axios from "axios";
import { mdbBarChart, mdbContainer } from "mdbvue";
export default {
  name: "List",
  components: {
    mdbBarChart,
    mdbContainer,
  },
  data() {
    return {
      file: null,
      result: [],
      barChartData: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [
          {
            label: "# of Votes",
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
              "rgba(255, 99, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(153, 102, 255, 0.2)",
              "rgba(255, 159, 64, 0.2)",
            ],
            borderColor: [
              "rgba(255,99,132,1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)",
            ],
            borderWidth: 1,
          },
        ],
      },
      barChartOptions: {
        responsive: false,
        maintainAspectRatio: false,
        scales: {
          xAxes: [
            {
              barPercentage: 1,
              gridLines: {
                display: true,
                color: "rgba(0, 0, 0, 0.1)",
              },
            },
          ],
          yAxes: [
            {
              gridLines: {
                display: true,
                color: "rgba(0, 0, 0, 0.1)",
              },
            },
          ],
        },
      },
    };
  },
  methods: {
    async upload() {
      await axios
        .post("http://localhost:5000/upload", { info: this.info })
        .then((response) => {
          this.result = response.data;
          console.log(this.result);
          this.result.forEach((element) => {
            this.barChartData.labels.push(element["label"]);
            this.barChartData.datasets.data.push(element["value"]);
          });
        })
        .catch((error) => console.log(error));
    },
  },
};
</script>
