<template>
  <div class="hello">
    <h1>{{ info }}</h1>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'FuckBudka',
  props: {
    msg: String
  },
  data() {
    return {
      info: null,
    }
  },
  mounted () {
    axios
      .get('http://localhost:5000/')
      .then(response => {
        this.info = response.data
        })
      .catch(error => console.log(error))
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
