<template>
  <div class="m-5">
    <b-form @submit.prevent="predict" class="row">
      <b-form-input v-model="info" placeholder="info" class="col-10"></b-form-input>
      <b-button class="col-1 ml-3" type="submit" variant="success">predict</b-button>
    </b-form>
    <b-table stacked v-show="result.length" class="mt-3" :items="result"/>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "List",
  data() {
    return {
      result: [],
      info: null
    };
  },
  methods: {
    async predict() {
      await axios
        .post("http://localhost:5000/predict", this.info)
        .then((response) => {
          this.result = response.data;
        })
        .catch((error) => console.log(error));
    },
  },
};
</script>