<template>
  <div>
    <h1>list</h1>
    <b-form @submit.prevent="predict">
      <b-form-input v-model="info" placeholder="info"></b-form-input>
      <b-button
        type="submit"
        variant="success"
      >predict</b-button>
    </b-form>
  </div>
</template>
<script>
export default {
  name: "List",
  data() {
    return {
      info: null,
    };
  },
};
</script>