<template>
  <div>
    <b-table striped hover :items="items"></b-table>
    <b-table
      :items="transactions"
    >
      <!-- <template v-slot:cell(category)="row">
        <b-select
          v-model="row.item.category"
          :options="labels"
          @change="updateTransaction(row.item)"
        ></b-select>
      </template> -->
    </b-table>
  </div>
</template>


<script>
import axios from 'axios';

export default {
  name: 'TransactionList',
  data() {
    return {
      items: [
          { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { age: 38, first_name: 'Jami', last_name: 'Carney' }
        ],
      transactions: [],
      /* tableFields: [
        {
          key: "id",
          label: "id",
          class: "text-left",
        },
        {
          key: "credit_transaction",
          label: "credit_transaction",
          class: "text-left",
        },
        {
          key: "info",
          label: "info",
          class: "text-left",
        },
        {
          key: "category",
          label: "category",
          class: "text-left",
        },
      ], */
    }
  },
  mounted () {
    axios
      .get('http://localhost:5000/tran/list')
      .then(response => {
        this.transactions = response.data
        })
      .catch(error => console.log(error))
  }
}
</script>