<template>
  <div>
    <b-table
      v-show="transactions.length"
      :items="transactions"
      :fields="tableFields"
    >
      <!-- <template v-slot:cell(category)="row">
        <b-select
          v-model="row.item.category"
          :options="labels"
          @change="updateTransaction(row.item)"
        ></b-select>
      </template> -->
    </b-table>
  </div>
</template>


<script>
import axios from 'axios';

export default {
  name: 'TransactionList',
  data() {
    return {
      transactions: [],
      tableFields: [
        {
          key: "id",
          label: "id",
          class: "text-left",
        },
        {
          key: "credit_transaction",
          label: "credit_transaction",
          class: "text-left",
        },
        {
          key: "info",
          label: "info",
          class: "text-left",
        },
        {
          key: "category",
          label: "category",
          class: "text-left",
        },
      ],
    }
  },
  mounted () {
    axios
      .get('http://localhost:5000/tran/list')
      .then(response => {
        this.transactions = response.data
        })
      .catch(error => console.log(error))
  }
}
</script>