<template>
  <div>
    <b-table class="pa-5" :items="transactions" :fields="tableFields">
      <template v-slot:cell(category)="row">
        <b-select
          v-model="row.item.category"
          :options="labels"
          @change="update(row.item)"
        ></b-select>
      </template>
    </b-table>
  </div>
</template>


<script>
import axios from "axios";

export default {
  name: "TransactionList",
  data() {
    return {
      labels: ["КУРТИК", "КОСТЮМ", "ӨМД", "Футболк", "Цамц", "Бусад"],
      transactions: [],
      tableFields: [
        {
          key: "id",
          label: "id",
          class: "text-left",
        },
        {
          key: "credit_transaction",
          label: "credit_transaction",
          class: "text-left",
        },
        {
          key: "old_balance",
          label: "old_balance",
          class: "text-left",
        },
        {
          key: "new_balance",
          label: "new_balance",
          class: "text-left",
        },
        {
          key: "info",
          label: "info",
          class: "text-left",
        },
        {
          key: "category",
          label: "category",
          class: "text-left",
        },
      ],
    };
  },
  mounted() {
    axios
      .get("http://localhost:5000/tran/list")
      .then((response) => {
        this.transactions = response.data;
      })
      .catch((error) => console.log(error));
  },
  methods: {
    async update() {
      //update
    },
  },
};
</script>