<template>
  <div>
    <h1>list</h1>
  </div>
</template>


<script>
import axios from 'axios';

export default {
  name: 'TransactionList',
  data() {
    return {
      info: null,
    }
  },
  mounted () {
    axios
      .get('http://localhost:5000/tran/list/')
      .then(response => {
        this.info = response.data
        })
      .catch(error => console.log(error))
  }
}
</script>